.section__list-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 185px 185px;
  grid-template-rows: 185px 185px;
  gap: 10px;
}
.section__item-info {
  display: flex;
  flex-direction: column;
  max-width: 185px;
  max-height: 185px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(112 112 112 / 3%);
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  transition: all .5s;
  animation: open-page 1.5s;
}
.section__item-info:hover {
  background-color: rgb(112 112 112 / 15%);
}
.section__item-info span {
  color: #fff;
  font-family: 'Museo-Sans-Cyrl';
  
}
.section__item-info span:first-child {
  font-size: 18px;
  font-weight: 100;
}
.section__item-info span:nth-of-type(2) {
  font-size: 50px;
  font-weight: 700;
}
.section__item-info span:last-child {
  font-size: 18px;
  font-weight: 100;
}


@media screen and (max-width:867px) {
  .section__item-info{
   width: 100%;
   max-width: none;
   gap: 20px;
  }
}
@media screen and (max-width:460px) {
  .section__list-info {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
