
.main-section {
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.main-section__content {
  animation: open-page 1.5s;
}
.main-section__title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  background: linear-gradient(90deg, #fff 20%, #FF3F04 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
}
.main-section__subtitle{
  margin-top: 20px;
  margin: 0;
  font-size: 25px;
  font-weight: 300;
  background: linear-gradient(90deg, #fff 30%, #FF3F04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-section__link {
  display: inline-block;
  margin-top: 35px;
  font-weight: 100;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 10px 26px;
  border: 1px solid rgba(112,112,112,50%);
}

@media screen and (max-width:460px) {
  .main-section__list-wrapper {
    width: 100%;
  }
  .main-section__title{
    font-size: 36px;
  }
  .main-section__subtitle{
    font-size: 16px;
  }
  .main-section__link {
    padding: 6px 16px;
  }
}
.main-section__title {
  animation: infinity-fair 4s infinite linear;
  color: #fff;
}




@keyframes infinity-fair {
  0% {
    background-position: 100% 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 25% 0;
  }
  75% {
    background-position: 50% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
