
.main-section {
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.main-section__content {
  animation: open-page 1.5s;
}
.main-section__title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Museo-Sans-Cyrl';
  line-height: 70px;
  background: linear-gradient(90deg, #fff 20%, #FF3F04 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
}
.main-section__subtitle{
  margin-top: 20px;
  margin: 0;
  font-size: 25px;
  font-weight: 300;
  background: linear-gradient(90deg, #fff 30%, #FF3F04);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Museo-Sans-Cyrl';
}

.main-section__link {
  display: inline-block;
  margin-top: 35px;
  font-weight: 100;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  padding: 10px 26px;
  border: 1px solid rgba(112,112,112,50%);
  font-family: 'Museo-Sans-Cyrl';
}

@media screen and (max-width:460px) {
  .main-section__header {
    text-align: center;
  }
  .main-section__link {
    text-align: center;
    width: 100%;
  }
  .main-section__list-wrapper {
    width: 100%;
  }
  .main-section__title{
    font-size: 36px;
  }
  .main-section__subtitle{
    font-size: 16px;
  }
  .main-section__link {
    padding: 6px 16px;
  }
}
.main-section__title,
.main-section__subtitle {
  animation: infinity-fair 4s infinite linear;
  color: #fff;
}

.main-section__link {
  position: relative;
}
.border__right-top,
.border__left-bottom,
.border__right-bottom,
.border__left-top {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-right: 0 transparent;
  border-top: 0 transparent;
  border-left: 0 transparent;
  border-bottom: 0 transparent;
  background:transparent;
  box-shadow: 0px 0px 50px 7px rgba(255, 255, 255, 1);  
  transition: all .4s;
}

.border__right-top {
  top: -1px;
  right: -1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
.border__left-bottom {
  bottom: -1px;
  left: -1px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.main-section__link:hover .border__right-bottom{
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: 1;
}
.main-section__link:hover .border__left-top {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  opacity: 1;
}
.border__right-bottom {
  right: -1px;
  bottom: -1px;
  opacity: 0;
}
.border__left-top {
  top: -1px;
  left: -1px;
  opacity: 0;
}
@keyframes infinity-fair {
  0% {
    background-position: 100% 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 25% 0;
  }
  75% {
    background-position: 50% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
