.header__wrapper {
  border-bottom: 1px solid #150A01;
  background: rgb(21 10 1 / 20%);
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  animation: open-page-header 2s cubic-bezier(0.35, 0.46, 0.56, 1.15);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}


@media screen and (max-width:867px) {
  .main-section {
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }

}

@keyframes open-page-header {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}